.hidden {
	display: none !important;
}

// Heading Classes
.headingRoot {
	align-items: center;
	background-color: #000;
	display: flex;
	height: 60px;
	justify-content: space-around;
	width: 100%;
}

.awayImage {
	height: 50px;
	width: 50px;
}

.score {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}

.time {
	color: #fff;
	font-size: 24px;
}

.homeImage {
	height: 50px;
	width: 50px;
}

// Tabs Classes
.tabsRoot {
	border-bottom: 1px solid black;
	display: flex;
	height: 40px;
	justify-content: flex-start;
	padding-top: 10px;
	width: 100%;
}

.tab {
	align-items: center;
	background-color: #000;
	border-radius: 2px 2px 0;
	color: #fff;
	display: flex;
	font-size: 20px;
	height: 100%;
	justify-content: center;
	width: 100px;
}

.tabSelected {
	background-color: #fff;
	color: #000;
}

// Preview Classes
.playerStats {
	
}

.playerTeamStats {
	
}

.teamName {
	
}

.teamPayersStats {
	
}

.teamStatsLine {
	
}

// Rink Classes
.rinkRoot {
	background-color: aliceblue;
	border: 4px solid #000000;
	border-radius: 45px;
	display: flex;
	height: 250px;
	margin: 10px;
	position: relative;
	width: 400px;
}

.awayGoalLine {
	border-left: 2px solid #cc0000;
	height: 100%;
	left: 35px;
	position: absolute;
}

.awayGoal {
	align-items: center;
	background-color: #0099cc;
	border: 1px solid #cc0000;
	border-radius: 2% 2% 0 0;
	display: flex;
	height: 30px;
	left: 36px;
	position: absolute;
	top: calc(50% - 15px);
	width: 15px;
}

.awayCircleContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	left: 75px;
	position: absolute;
	top: 0;
}

.awayFrontLine {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	left: 42%;
	position: absolute;
	top: 0;
}

.awayDefenseLine {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	left: 22.5%;
	position: absolute;
	top: 0;
}

.awayGoalie {
	left: 40px;
	position: absolute;
	top: calc(50% - 12px);
}

.playerCircle {
	align-items: center;
	background-color: #000;
	border-radius: 50%;
	color: #fff;
	display: flex;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	justify-content: center;
	width: 25px;
	z-index: 2;
}

.circle {
	border: 2px solid #cc0000;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.blueLine {
	border-left: 2px solid blue;
	position: absolute;
	height: 100%;
}

.awayBlueLine {
	left: 40%;
}

.homeBlueLine {
	right: 40%;
}

.centerLine {
	border-left: 2px solid #cc0000;
	height: 100%;
	left: calc(50% - 1px);
	position: absolute;
}

.centerCircleContainer {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: calc(50% - 27px);
	position: absolute;
}

.homeCircleContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	position: absolute;
	right: 75px;
	top: 0;
}

.homeGoalLine {
	border-left: 2px solid #cc0000;
	height: 100%;
	position: absolute;
	right: 35px;
}

.homeGoal {
	align-items: center;
	background-color: #0099cc;
	border: 1px solid #cc0000;
	border-radius: 0 0 2% 2%;
	display: flex;
	height: 30px;
	position: absolute;
	right: 36px;
	top: calc(50% - 15px);
	width: 15px;
}

.homeFrontLine {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	right: 42%;
	position: absolute;
	top: 0;
}

.homeDefenseLine {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	right: 22.5%;
	position: absolute;
	top: 0;
}

.homeGoalie {
	position: absolute;
	right: 40px;
	top: calc(50% - 12px);
}

// Final Classes
.finalTeamStatsRoot {
	
}

.finalTeamStats {
	
}

.finalStats {
	
}

.finalTeamDivider {
	
}

.finalStat {
	
}

// Standings Classes
.standingsRoot {
	
}

// Footer Classes
.nhlLinkContainer {
	align-items: center;
	background-color: black;
	display: flex;
	height: 60px;
	justify-content: center;
}

.nhlLink {
	color: white;
}